todos/
.obsidian/
__pycache__/
.pytest_cache/

# Ежедневные заметки и холсты Obsidian: создаются кликом в интерфейсе,
# к трекеру отношения не имеют
[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9].md
*.canvas
